<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>GB/day</th>
      <th>Monthly cost</th>
      <th>Additional annual fee</th>
      <th>Total annual cost</th>
      <th>Perpetual cost</th>
      <th>Billing frequency</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
<%= render @structures %>
</table>
